<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title> Najlaa Beauty Routine </title>
        <style>
            h1 {
                font-size: 80px;
                font-family :Roboo;
                font-weight: normal;
                color : rgb(50,50,50);
                text-align:center;

            }
            #banner {
                width :100%;
                height: 360px;
            }
            h2 {
                font-family: Roboto;
                font-size: 32px ;
                color : rgb(100,100,100);
                text-align: center;
            }

        </style>
    </head>



    <body>
        <div>
    <h1> Najlaa Beauty make up line  </h1>
    <img src = "http://192.168.1.155:5000/static/pic.jpg" height="320"  width="700">
    <h2> What inspired me to start my own make up line </h2>
    <p>
        Welcome to Najlaa's make up, where beauty meets innovation. We are your trusted partner in the world of cosmetics, dedicated to enhancing your natural beauty with our premium range of makeup products. Our mission is to empower individuals to express their unique style and confidence through our carefully crafted, high-quality cosmetics.

At Najlaa's, we believe that makeup is more than just a way to enhance your appearance; it's a form of self-expression. That's why we offer a diverse range of products that cater to all skin tones, types, and preferences. From vibrant lipsticks to flawless foundations, our collection is designed to meet the diverse needs of our customers.

Our commitment to quality is unwavering. We use only the finest ingredients, ensuring that our products are safe,

    </p>
    <h2> click here to see more  </h2>
    <p> show me the prodcuts </p>
    <button> Contact us </button>

            </div>
        <div class = "container">
            <div class= "row">
                <div class = " col md-12">
                    <div class = "jumbotron p-3">
                        <h2> Manage <b>Products </b> <button type ="button"  class="btn btn-success float-right" data-toggle ="modal" data-target = "#mymodal">Add items </button></h2>

                        <table class = "table table-hover table-dark">
                            <tr>
                                <th>categories</th>
                                <th>discounts and coupons</th>
                                <th>wishlist</th>
                                <th>orders</th>



                            </tr>
                        </table>





                    </div>

                </div>
            </div>
        </div>

    </body>






</html>